{% assign current_path = page.url | default: '/' %}
{% assign current_path_parts = current_path | split: '/' %}
{% assign current_section = current_path_parts[1] %}
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a class="sidebar-home-link{% if current_path == '/' %} active{% endif %}" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if current_section == 'characters' or current_section == 'character-au' %} active{% endif %}" href="{{ site.baseurl }}/characters/">Characters</a>
      <a class="sidebar-nav-item{% if current_section == 'twitter' %} active{% endif %}" href="{{ site.baseurl }}/twitter/">Twitter</a>
      <a class="sidebar-nav-item{% if current_section == 'commission' %} active{% endif %}" href="{{ site.baseurl }}/commission/">Commission</a>
    </nav>
  </div>
</div>
