{% assign current_path = page.url | default: '/' %}
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a class="sidebar-home-link{% if current_path == '/' %} active{% endif %}" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if current_path contains '/characters/' or current_path contains '/character-au/' %} active{% endif %}" href="{{ site.baseurl }}/characters/">Characters</a>
    </nav>
  </div>
</div>
